body{
    background-color: darkGray;
}

.memeForm{
    background-color: gray;
}

.memeImage{
    display:flex;
    width:300px;
    height:200px;
}

.bottomText{
    position:absolute;
}

.topText{
    position:absolute;
}